/*Geral*/

body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

/*Menu*/
nav ul{
	list-style: none;
}

nav ul li{
	padding: 5px;
}

nav ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 2em;
	text-transform: uppercase;
}

nav a:hover{
	color: #900;
}

.wrap{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100vh;
}

.canvas{
	width: 100%;
	height: 100%;
	position: relative;
	transform: translateX(0);
	transition: .5s ease all;  
}

.menu{
	height: 100%;
	position: absolute;
	transform: translateX(-300px);
	width: 300px;
	background: #000;
	transition: .5s ease all;

}

.wrap.show-menu .canvas .menu{
	transform: translateX(0);
}

.btn-menu{
	padding: 10px;
	color: #fff;
	text-decoration: none;
	background: #000;
}

